{{! Meta tags for the profile dashboard
  controller passes the title to the view
 }}
  <head>
    <meta charset='utf-8' />
    {{> favicons}}
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
    <title>{{title}}</title>
    <meta
      content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
      name='viewport'
    />
    <!--     Fonts and icons     -->
   {{> fonts}}
    <!-- CSS Files -->
    <link href='/public/css/material-dashboard.css?v=1.0.1' rel='stylesheet' />
  </head>
