<footer class='adjust'>
  <p>
    © Pick A Planet 2021
  </p>
  <a href='/sources'>
    Sources
  </a>
</footer>
<script
  nonce='uasdimAsNXCzP5AG6Rvux'
  src='../../public/lib/particlesjs/particles.js'
></script>
<script
  nonce='uasdimAsNXCzP5AG6Rvux'
  src='../../public/lib/particlesjs/app.js'
></script>