<div
  class='sidebar'
  data-color='azure'
  data-background-color='default'
  data-image='/public/images/sidebar-1.jpg'
>
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
  -->
  <div class='logo'>
    {{! TODO change where the logos point to }}
    <a href='/' class='simple-text logo-mini'> PAP </a>
    <a href='http://www.creative-tim.com' class='simple-text logo-normal'>
      Pick A Planet
    </a>
  </div>
  <div class='sidebar-wrapper'>
    <div class='user'>
      <div class='photo'>
        {{! TODO Add user profile avatar image }}
        <img src='/public/images/profile/avatar.png' />
      </div>
      <div class='user-info'>
        <a data-toggle='collapse' href='#collapseExample' class='username'>
          <span>
            {{! TODO add profile user name }}
            {{user.firstName}} {{user.lastName}}
            <b class='caret'></b>
          </span>
        </a>
        <div class='collapse' id='collapseExample'>
          <ul class='nav'>
            <li class='nav-item{{#if isProfile}} active{{/if}}'>
              <a class='nav-link' href='/profile'>
                <span class='sidebar-mini'> MP </span>
                <span class='sidebar-normal'> My Profile </span>
              </a>
            </li>
            <li class='nav-item {{#if isEdit}} active{{/if}}'>
              <a class='nav-link' href='/profile/edit'>
                <span class='sidebar-mini'> EP </span>
                <span class='sidebar-normal'> Edit Profile </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class='nav'>
      <li class='nav-item{{#if isDashboard}} active{{/if}}'>
        <a class='nav-link' href='/dashboard'>
          <i class='material-icons'>dashboard </i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' data-toggle='collapse' href='#pagesExamples'>
          <i class='material-icons'>image</i>
          <p>
            Planets
            <b class='caret'></b>
          </p>
        </a>
        <div class='collapse' id='pagesExamples'>
          <ul class='nav'>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/mercury'>
                {{! TODO add icon for mercury }}
                <span class='sidebar-mini'> M </span>
                <span class='sidebar-normal'> Mercury </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/venus'>
                {{! TODO add icon for venus }}
                <span class='sidebar-mini'> V </span>
                <span class='sidebar-normal'> Venus </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/earth'>
                {{! TODO add icon for earth }}
                <span class='sidebar-mini'> E </span>
                <span class='sidebar-normal'> Earth </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/mars'>
                {{! TODO add icon for mars }}
                <span class='sidebar-mini'> M </span>
                <span class='sidebar-normal'> Mars </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/jupiter'>
                {{! TODO add icon for jupiter }}
                <span class='sidebar-mini'> J </span>
                <span class='sidebar-normal'> Jupiter </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/saturn'>
                {{! TODO add icon for saturn }}
                <span class='sidebar-mini'> S </span>
                <span class='sidebar-normal'> Saturn </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/uranus'>
                {{! TODO add icon for uranus }}
                <span class='sidebar-mini'> U </span>
                <span class='sidebar-normal'> Uranus </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/neptune'>
                {{! TODO add icon for neptune }}
                <span class='sidebar-mini'> N </span>
                <span class='sidebar-normal'> Neptune </span>
              </a>
            </li>
            <li class='nav-item'>
              <a class='nav-link' href='/planets/pluto'>
                {{! TODO add icon for pluto }}
                <span class='sidebar-mini'> P </span>
                <span class='sidebar-normal'> Pluto </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
