<footer class='footer'>
  {{! Takes in the year }}
  <div class='container-fluid'>
    <div class='copyright'>
      &copy; Pick A Planet
      {{year}}
      , made with
      <i class='material-icons'>favorite</i>
      by
      <b> Pick a Planet</b>
    </div>
    <div class='nav-item'>
      <a href='/sources'> Sources </a>
    </div>
  </div>
</footer>