<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="nine planets main selection ">
    <meta name="planets" content="Mercury, Venus, Earth, Mars,Jupiter, Saturn, Uranus, Neptune, Pluto">
    <title>Pick A Planet</title>
    <script src="https://progressier.com/client/script.js?id=hZIXCm6fyATsuNjyaOZm"></script> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;900&display=swap" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
  {{> header}}
   {{> nav}}
    <main>
       <div class="main-title">
      <h1>
        Welcome to Pick a Planet
      </h1>
      <p>Pick a planet was created to make it easy for everyone to learn about our planets. Yes, even Pluto! <b><i>We just couldn't leave you out.</i></b> Click on a planet and let the journey begin. You'll know all about the planets that surround us in no time! If you'd like a personalized experience register to join Pick a Planet.</p>
    </div>
    <div class="planet-display-container">
      <section class="planet-display">
        <h2>Mercury</h2>
        <img src="/public/images/main/main-mercury.png" alt="Mercury" />
        <a href="/planets/mercury">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Venus</h2>
        <img src="/public/images/main/main-venus.png" alt="Venus" />
        <a href="/planets/venus">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Earth</h2>
        <img src="/public/images/main/main-earth.png" alt="Earth" />
        <a href="/planets/earth">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Mars</h2>
        <img src="/public/images/main/main-mars.png" alt="Mars" />
        <a href="/planets/mars">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Jupiter</h2>
        <img src="/public/images/main/main-jupiter.png" alt="Jupiter" />
        <a href="/planets/jupiter">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Saturn</h2>
        <img src="/public/images/main/main-saturn.png" alt="Saturn" />
        <a href="/planets/saturn">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Uranus</h2>
        <img src="/public/images/main/main-uranus.png" alt="Uranus" />
        <a href="/planets/uranus">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Neptune</h2>
        <img src="/public/images/main/main-neptune.png" alt="Neptune"  />
        <a href="/planets/neptune">Discover</a>
      </section>
      <section class="planet-display">
        <h2>Pluto</h2>
        <img src="/public/images/main/main-pluto-1.png" alt="Pluto" />
        <a href="/planets/pluto">Discover</a>
      </section>
    </div>
    </main>
    {{> footer}}
    {{> script}}
    {{> script}}
  </body>
</html>
