<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <meta name="description" content="Wikipedia and Nasa Sources">
     <meta name="Planet sources" content="Sources for all planet content">
    <meta name="keywords" content="nine planets Wikipedia Nasa">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sources</title>
    {{> favicons}}
     {{> indexStyle}}
  </head>
  <body>
     {{> header}}
   {{> nav}}
    <h1>Sources</h1>
    <ol>
      <li>Wikipedia</li>
      <li>Nasa</li>
    </ol>
    <section>
      <h3>Main page</h3>
      <ol>
        <li><a href="https://www.nasa.gov/sites/default/files/images/729223main_728322main_messenger_orbit_image20130218_2_full_full_full.jpg">Mercury Image</a></li>
        <li><a href="https://spaceplace.nasa.gov/review/all-about-venus/Venus_Clouds_br.en.jpg">Venus Image</a></li>
         <li><a href="https://www.nasa.gov/content/satellite-view-of-the-americas-on-earth-day">Earth Image</a></li>
        <li><a href="https://mars.nasa.gov/resources/20324/nasa-at-mars-20-years-of-247-exploration/">Mars Image</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Great_Red_Spot#/media/File:Jupiter's_swirling_colourful_clouds.jpg">Jupiter Image</a></li>
        <li><a href="https://nssdc.gsfc.nasa.gov/planetary/image/saturn.jpg">Saturn Image</a></li>
        <li><a href="https://upload.wikimedia.org/wikipedia/commons/3/3d/Uranus2.jpg">Uranus Image</a></li>
        <li><a href="https://solarsystem.nasa.gov/system/feature_items/images/82_carousel_neptune_1.jpg">Neptune Image</a></li>
        <li><a href="https://spaceplace.nasa.gov/review/ice-dwarf/pluto_new_horizons.en.png">Pluto Image</a></li>
      </ol>
    </section>
    <section>
      <h3>Mercury page</h3>
      <ol>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Mercury_(planet)#/media/File:EW1027346412Gnomap.png"
          >
            https://en.wikipedia.org/wiki/Mercury_(planet)#/media/File:EW1027346412Gnomap.png
          </a>
        </li>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Mercury_(planet)#/media/File:Unmasking_the_Secrets_of_Mercury.jpg"
          >
            https://en.wikipedia.org/wiki/Mercury_(planet)#/media/File:Unmasking_the_Secrets_of_Mercury.jpg
          </a>
        </li>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Mercury_(planet)#/media/File:Mercuryorbitsolarsystem.gif"
          >
            https://en.wikipedia.org/wiki/Mercury_(planet)#/media/File:Mercuryorbitsolarsystem.gif
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Mercury_Globe-MESSENGER_mosaic_centered_at_0degN-0degE.jpg/480px-Mercury_Globe-MESSENGER_mosaic_centered_at_0degN-0degE.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Mercury_Globe-MESSENGER_mosaic_centered_at_0degN-0degE.jpg/480px-Mercury_Globe-MESSENGER_mosaic_centered_at_0degN-0degE.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Mercury_with_magnetic_field.svg/640px-Mercury_with_magnetic_field.svg.png"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Mercury_with_magnetic_field.svg/640px-Mercury_with_magnetic_field.svg.png
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Venus page</h3>
      <ol>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/e/e5/Venus-real_color.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/e/e5/Venus-real_color.jpg
          </a>
        </li>

        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Global_view_uvi_Venus_%28Akatsuki%29.jpg/468px-Global_view_uvi_Venus_%28Akatsuki%29.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Global_view_uvi_Venus_%28Akatsuki%29.jpg/468px-Global_view_uvi_Venus_%28Akatsuki%29.jpg
          </a>
        </li>

        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/b/b7/Venusorbitsolarsystem.gif"
          >
            https://upload.wikimedia.org/wikipedia/commons/b/b7/Venusorbitsolarsystem.gif
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Venus-pacific-levelled.jpg/640px-Venus-pacific-levelled.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Venus-pacific-levelled.jpg/640px-Venus-pacific-levelled.jpg
          </a>
        </li>
        <li>
          <a
            href="https://www.nasa.gov/sites/default/files/images/119541main_image_feature_358_ys_full.jpg"
          >
            https://www.nasa.gov/sites/default/files/images/119541main_image_feature_358_ys_full.jpg
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Earth page</h3>
      <ol>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Earth#/media/File:The_Earth_seen_from_Apollo_17.jpg"
          >
            https://en.wikipedia.org/wiki/Earth#/media/File:The_Earth_seen_from_Apollo_17.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Earth_cutaway_schematic-en.svg/612px-Earth_cutaway_schematic-en.svg.png"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Earth_cutaway_schematic-en.svg/612px-Earth_cutaway_schematic-en.svg.png
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Volc%C3%A1n_Chimborazo%2C_%22El_Taita_Chimborazo%22.jpg/1280px-Volc%C3%A1n_Chimborazo%2C_%22El_Taita_Chimborazo%22.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Volc%C3%A1n_Chimborazo%2C_%22El_Taita_Chimborazo%22.jpg/1280px-Volc%C3%A1n_Chimborazo%2C_%22El_Taita_Chimborazo%22.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Felix_from_ISS_03_sept_2007_1138Z.jpg/1280px-Felix_from_ISS_03_sept_2007_1138Z.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Felix_from_ISS_03_sept_2007_1138Z.jpg/1280px-Felix_from_ISS_03_sept_2007_1138Z.jpg
          </a>
        </li>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Earth_poster.svg/640px-Earth_poster.svg.png"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Earth_poster.svg/640px-Earth_poster.svg.png
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Mars page</h3>
      <ol>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/5/54/Marsorbitsolarsystem.gif"
          >
            https://upload.wikimedia.org/wikipedia/commons/5/54/Marsorbitsolarsystem.gif
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/016vallesmarineris_reduced0.25.jpg/1920px-016vallesmarineris_reduced0.25.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/016vallesmarineris_reduced0.25.jpg/1920px-016vallesmarineris_reduced0.25.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/7/75/Perspective_view_of_Korolev_crater.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/7/75/Perspective_view_of_Korolev_crater.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Mars_atmosphere.jpg/429px-Mars_atmosphere.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Mars_atmosphere.jpg/429px-Mars_atmosphere.jpg
          </a>
        </li>
        <li>
          <a
            href="https://mars.nasa.gov/system/content_pages/main_images/418_marsglobe.jpg"
          >
            https://mars.nasa.gov/system/content_pages/main_images/418_marsglobe.jpg
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Jupiter page</h3>
      <ol>
        <li>
          <a href="https://photojournal.jpl.nasa.gov/jpeg/PIA00600.jpg">
            https://photojournal.jpl.nasa.gov/jpeg/PIA00600.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/5/50/Jupiter%2C_image_taken_by_NASA%27s_Hubble_Space_Telescope%2C_June_2019_-_Edited.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/5/50/Jupiter%2C_image_taken_by_NASA%27s_Hubble_Space_Telescope%2C_June_2019_-_Edited.jpg
          </a>
        </li>
        <li>
          <a
            href="https://solarsystem.nasa.gov/resources/736/cyclones-encircle-jupiters-north-pole/?category=planets_jupiter"
          >
            https://solarsystem.nasa.gov/resources/736/cyclones-encircle-jupiters-north-pole/?category=planets_jupiter
          </a>
        </li>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Jupiter#/media/File:Hubble_Captures_Vivid_Auroras_in_Jupiter's_Atmosphere.jpg"
          >
            https://en.wikipedia.org/wiki/Jupiter#/media/File:Hubble_Captures_Vivid_Auroras_in_Jupiter's_Atmosphere.jpg
          </a>
        </li>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Jupiter#/media/File:Solarsystem3DJupiter.gif"
          >
            https://en.wikipedia.org/wiki/Jupiter#/media/File:Solarsystem3DJupiter.gif
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Saturn page</h3>
      <ol>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/9/95/Saturn_Orbit.gif"
          >
            https://upload.wikimedia.org/wikipedia/commons/9/95/Saturn_Orbit.gif
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Saturn_Storm.jpg/480px-Saturn_Storm.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Saturn_Storm.jpg/480px-Saturn_Storm.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/PIA18354-Saturn-MethaneBands-20150906.jpg/480px-PIA18354-Saturn-MethaneBands-20150906.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/PIA18354-Saturn-MethaneBands-20150906.jpg/480px-PIA18354-Saturn-MethaneBands-20150906.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/5/57/Looking_saturn_in_the_eye.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/5/57/Looking_saturn_in_the_eye.jpg
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Uranus page</h3>
      <ol>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/f/fe/Uranus-intern-en.png"
          >
            https://upload.wikimedia.org/wikipedia/commons/f/fe/Uranus-intern-en.png
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Adding_to_Uranus%27s_legacy.tif/lossy-page1-452px-Adding_to_Uranus%27s_legacy.tif.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Adding_to_Uranus%27s_legacy.tif/lossy-page1-452px-Adding_to_Uranus%27s_legacy.tif.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Uranus%2C_Earth_size_comparison_2.jpg/640px-Uranus%2C_Earth_size_comparison_2.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Uranus%2C_Earth_size_comparison_2.jpg/640px-Uranus%2C_Earth_size_comparison_2.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/7/76/Uranus_Orbit.gif"
          >
            https://upload.wikimedia.org/wikipedia/commons/7/76/Uranus_Orbit.gif
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Neptune page</h3>
      <ol>
        <li>
          <a
            href="https://en.wikipedia.org/wiki/Neptune#/media/File:Neptune_Orbit.gif"
          >
            https://en.wikipedia.org/wiki/Neptune#/media/File:Neptune_Orbit.gif
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/c/c8/Neptune_clouds.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/c/c8/Neptune_clouds.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Neptune%2C_Earth_size_comparison_2b.jpg/640px-Neptune%2C_Earth_size_comparison_2b.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Neptune%2C_Earth_size_comparison_2b.jpg/640px-Neptune%2C_Earth_size_comparison_2b.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/c/ce/Neptune_with_rings_%28transparent_background%29.png"
          >
            https://upload.wikimedia.org/wikipedia/commons/c/ce/Neptune_with_rings_%28transparent_background%29.png
          </a>
        </li>
      </ol>
    </section>
    <section>
      <h3>Pluto page</h3>
      <ol>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/2/2b/Pluto_Orbit.gif"
          >
            https://upload.wikimedia.org/wikipedia/commons/2/2b/Pluto_Orbit.gif
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Pluto%27s_internal_structure2.jpg/640px-Pluto%27s_internal_structure2.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Pluto%27s_internal_structure2.jpg/640px-Pluto%27s_internal_structure2.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Pluto%2C_Earth_%26_Moon_size_comparison.jpg/640px-Pluto%2C_Earth_%26_Moon_size_comparison.jpg"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Pluto%2C_Earth_%26_Moon_size_comparison.jpg/640px-Pluto%2C_Earth_%26_Moon_size_comparison.jpg
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/9/94/Pluto-transparent.png"
          >
            https://upload.wikimedia.org/wikipedia/commons/9/94/Pluto-transparent.png
          </a>
        </li>
        <li>
          <a
            href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Nh-pluto_moons_family_portrait.png/640px-Nh-pluto_moons_family_portrait.png"
          >
            https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Nh-pluto_moons_family_portrait.png/640px-Nh-pluto_moons_family_portrait.png
          </a>
        </li>
      </ol>
    </section>
    {{> footer}}
    
  </body>
</html>