/* Particles Header */

#particles-js h1 {
  font-family: var(--lato);
  position: absolute;
  color: hsl(188, 33%, 78%);
  margin-left: auto;
  margin-right: auto;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: clamp(2.6rem, 1.6769rem + 3.6923vw, 5rem);

  opacity: 0.9;
}

body.planets {
  background-image: linear-gradient(
    to right top,
    #03031e,
    #03041d,
    #03041b,
    #03051a,
    #030518,
    #030519,
    #04061b,
    #04061c,
    #050721,
    #060725,
    #06082a,
    #06082e
  );
}

/* Page content */
.planet-content {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 4fr 1fr;
  margin-top: 70px;
}

.planet-title {
  text-align: center;
  color: hsl(39, 81%, 83%);
  font-size: clamp(4.2rem, 3.8923rem + 1.2308vw, 5rem);
  margin-bottom: 30px;
}

.planet-content h2 {
  margin-bottom: 20px;
  color: hsl(39, 81%, 83%);
  text-align: center;
  font-size: clamp(2.2rem, 1.9692rem + 0.9231vw, 2.8rem);
  font-family: var(--roboto);
}

.planet-content p {
  color: var(--color-light);
  font-size: clamp(1rem, 0.8462rem + 0.6154vw, 1.4rem);
  width: clamp(45ch, 50%, 75ch);
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.planet-content .pluto-page-main {
  width: 400px;
  height: 30px;
}

.planet-content-image-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.planet-content-image-wrap .mobile-pics {
  display: none;
}

.planet-content-image-wrap img {
  margin-bottom: 50px;
}

/* Planet Facts */
.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid hsl(39, 81%, 83%);
  border-radius: 50px;
  width: 25.5rem;
  padding: 20px;
  text-align: center;
  background-color: black;
  position: relative;
  right: 100px;
}
@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.facts h2 {
  color: hsl(39, 81%, 83%);
  font-size: 1.8rem;
  margin: 20px 0;
}

.facts img {
  width: 300px;
  animation: scale 10s infinite linear;
}

.facts p {
  font-size: 1.3rem;
  color: var(--color-light);
  margin: 20px 0;
}

/* Media Queries */

/* width adjustments */
@media screen and (max-width: 1320px) {
  .planet-content {
    grid-template-columns: 1fr;
  }
  .facts {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 807px) {
  .planet-content-image-wrap .desktop-pics {
    display: none;
    margin-bottom: 50px;
  }

  .planet-content-image-wrap .mobile-pics {
    display: block;
    margin-bottom: 50px;
  }
}

/* Smartphones (portrait and landscape ) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .planet-content-image-wrap .desktop-pics {
    display: none;
    margin-bottom: 50px;
  }

  .planet-content-image-wrap .mobile-pics {
    display: block;
    margin-bottom: 50px;
  }
}
