

:root {
  /* primary */
  --color-light: hsl(0, 18%, 97%);
  --color-dark: hsl(340, 4%, 16%);


  /* Nav */
  --hover-blue: hsl(212, 44%, 52%);

 /* Fonts */
  --lato: 'Lato', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --lobster: 'Lobster', cursive;
  /* font weight */
  --weight-300: 300
  --weight-400: 400
  --weight-700: 700
  --weight-900: 900
}


html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
article,
aside,
canvas,
footer,
nav, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


header {
  position: relative;
  width: 100%;
}

li {
  list-style: none;
}

a, button {
  text-decoration: none;
}

#particles-js {
  background-color: hsl(240, 68%, 9%);
  height: 18.75rem;
  width: 100%;
  z-index: 100;
}

/* Nav */

nav {
  position: relative;
  z-index: 100;
}

.nav-wrapper{
  display: flex;
  justify-content: space-around;
  padding: 0 300px;
  background-color: hsl(240, 74%, 18%);
  align-items: center;
}



.main-nav-link > a, .main-nav-link button {
  padding: 15px 0;
  margin:  0 50px ;
  display: block;
  color:  var(--color-light);
  transition: color 0.3s ease 0s;
}

.nav-wrapper a:hover {
  color: var(--hover-blue);
}

.main-nav-link {
  position: relative;
  padding: 0 2.8rem;
}

.main-nav-link > a {
  font-size: 1.7rem;
}

.main-nav-link button {
  cursor: pointer;
  font-size: 1.7rem;
  border: none;
  background: none;
  color: var(--color-light);
  transition: color 0.3s ease 0s;
}


.main-nav-link button:hover {
  color: var(--hover-blue);
}


.nav-planet-list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 10px;
  transform: translateY(-3em);
  z-index: -1;
  font-size: 1.2rem;
  transition: all 0.4s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  background-color: hsl(240, 100%, 25%, 0.8);
    
}

.nav-planet-list a {
   padding: 15px 80px;
   display: block;
  color: var(--color-light);
  transition: all 0.3s ease 0s;
  text-align: center;
  
}

.nav-planet-list a:hover {
  transform: scale(1.4)
}

.main-nav-link:focus .nav-planet-list,
.main-nav-link:focus-within .nav-planet-list,
.main-nav-link:hover .nav-planet-list {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition: all 0.3s ease 0s;
}


.login {
  position: absolute;
  right: 5px;
  top: -50px;
}

.login a {
  color: var(--color-light);
  font-size: 1.2rem;
  padding: 8px;
  border: 1px solid;
  margin-right: 8px;
  border-radius: 5px;
  transition: color 0.3s ease 0;
  background-color: inherit;
}

.login a:hover {
  color: var(--hover-blue);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  color: var(--color-light);
  background-color: hsl(240, 74%, 18%);
  height: 6rem;

}

footer a {
  border-left: 1px solid white;
  text-decoration: none;
  color: var(--color-light);
  padding: 10px 20px;
}

footer p {
  padding-right: 20px;
}

footer a:hover {
  color: var(--hover-blue);
}




/* Profile Page */
.avatar-ctn {
  background-color: hsl(221, 77%, 62%);
  text-align: center;
}

.avatar {
  width: 65%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}



@media screen and (max-width:800px) {
  
.nav-wrapper{
  display: flex;
  flex-direction: column-reverse;

  flex-wrap: wrap; 
  padding: 0;

  }

  .main-nav-link > a, .main-nav-link button {
    padding: 15px 0;
    background: none;
  }
  .nav-wrapper li:first-child {
    order: 1;
    }

   nav ul a:hover, .main-nav-link button:hover {
     outline: 0;
    background: none;
  }
   
  
}



@media screen and (max-width: 480px) {
  
.login {
  top: -260px;
}
   
  
}