<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="password-reset">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
    <script src="https://progressier.com/client/script.js?id=hZIXCm6fyATsuNjyaOZm"></script>   
   <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
   {{> header}}
      {{> nav}}
    {{!-- Registration form --}}

    <div class="container container-password-reset">
      <div class="row"></div>
      <div class="col-12 mb-5 mt-5">
        <div class="card">
          <div class="card-header">
            <h1>Password reset</h1>
          </div>
          <div class="card-body">
            <p>
              Forgot your password? Enter your email address below to begin the
              reset process.
            </p>
            <form action="/auth/passwordreset" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                />
              </div>
              <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
          </div>
          {{!-- Variable --}} {{#if message}}
          <h4 class="alert alert-danger mt-4">{{message}}</h4>
          {{/if}} {{#if complete}}
          <h4 class="alert alert-success mt-4">{{complete}}</h4>
          {{/if}}
        </div>
      </div>
    </div>
    {{> footer}}
    {{> script}}
  </body>
</html>
