<html lang="en">
  <!-- dashboard meta tag and style sheet  -->
  {{> dashboardMeta  }}

  <body class="dark-edition">
    <div class="wrapper">
      <!-- Sidebar -->
      {{> profileSidebar}}

      <!-- End Sidebar -->
      <div class="main-panel">
        <!-- Navbar -->
        {{!-- TODO Get user from profile controller --}} 
        {{> profileNavbar}}
        <!-- End Navbar -->

        <!-- User Profile Start  -->
        {{!-- TODO Get user from profile controller --}}
         {{!-- TODO Make a fetch call to get some planet data --}}
        <div class='content d-flex justify-content-center'>
           <div class='col-md-6'>
          <div class='card card-profile'>
            <div class='card-avatar'>
              <a href='javascript:;'>
                <!-- TODO ADD user image here -->
                <img class='img' src='/public/images/profile/avatar.png' />
              </a>
            </div>
            <div class='card-body'>
              <h6 class='card-category text-gray'>
                {{!-- TODO Add occupation to user model --}}
                Position </h6>
              <h4 class='card-title'>{{user.firstName}} {{user.lastName}}</h4>
              <p class='card-description'>
                About me
              </p>
              {{!-- <a href='javascript:;' class='btn btn-rose btn-round'>Follow</a> --}}
            </div>
          </div>
        </div>
        </div>
        <!-- User Profile End  -->
       {{!-- Footer --}}
        {{> profileFooter }}
      </div>
    </div>
    {{!-- Sidebar filters --}}
    {{!-- {{> sidebarFilters}} --}}
    <!--   Core JS Files   -->
    {{> coreJs}}
  </body>
</html>
