<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
      <meta name="description" content="Pluto information on size and distance, orbit and rotation, structure, formation, surface, atmosphere, magnetosphere, potential for life and fun interesting facts">
    <meta name="Pluto page" content="Pluto content page and desription">
    <meta name="keywords" content="Pluto, Pluto orbit, Pluto description, Pluto project information,">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pluto</title>
    {{> favicons}}
    {{> planetStyle}}
  </head>
  <body class="planets">
     {{> header}}
      {{> nav}}
    <main class="planet-content">
      <article>
        <section>
          <h1 class="planet-title">Pluto</h1>
          <div class="planet-content-image-wrap">
            <img
              class="desktop-pics"
              src="/public/images/planet-pages/pluto/pluto-main.png"
              alt="Pluto main"
            />
            <img
              class="mobile-pics"
              src="/public/images/planet-pages/pluto/pluto-main-mobile.png"
              alt="Pluto main"
            />
          </div>
          <p>
            Pluto is a complex and mysterious world with mountains, valleys,
            plains, craters, and maybe glaciers. Discovered in 1930, Pluto was
            long considered our solar system's ninth planet. But after the
            discovery of similar intriguing worlds deeper in the distant Kuiper
            Belt, icy Pluto was reclassified as a dwarf planet. Pluto is orbited
            by five known moons, the largest of which is Charon. Charon is about
            half the size of Pluto itself, making it the largest satellite
            relative to the planet it orbits in our solar system. Pluto and
            Charon are often referred to as a "double planet."
          </p>
        </section>
        <section>
          <h2>Size and distance</h2>
          <p>
            With a radius of 715 miles (1,151 kilometers), Pluto is about 1/6
            the width of Earth. If Earth were the size of a nickel, Pluto would
            be about as big as a popcorn kernel. From an average distance of 3.7
            billion miles (5.9 billion kilometers), Pluto is 39 astronomical
            units away from the sun. One astronomical unit (abbreviated as AU),
            is the distance from the sun to Earth. From this distance, it takes
            sunlight 5.5 hours to travel from the sun to Pluto. If you were to
            stand on the surface of Pluto at noon, the sun would be 1/900 the
            brightness it is here on Earth, or about 300 times as bright as our
            full moon. There is a moment each day near sunset here on Earth when
            the light is the same brightness as midday on Pluto. Find out when
            you can experience "Pluto time" where you live.
          </p>
          <div class="planet-content-image-wrap">
            <img
              class="desktop-pics"
              src="/public/images/planet-pages/pluto/pluto-earth-moon-comparison.png"
              alt="Pluto Earth moon comparison"
              />
              <img
              class="mobile-pics"
              src="/public/images/planet-pages/pluto/pluto-earth-moon-comparison-mobile.png"
              alt="Pluto Earth moon comparison small"
            />

          </div>
        </section>
        <section>
          <h2>Orbit and Rotation</h2>
          <p>
            Pluto's orbit around the sun is unusual compared to the planets: it
            is both elliptical and tilted. Pluto's 248-year-long, oval-shaped
            orbit can take it as far as 49.3 astronomical units (AU) from the
            sun, and as close as 30 AU. (One AU is the mean distance between
            Earth and the sun: about 93 million miles or 150 million
            kilometers.) But on average, Pluto is 3.7 billion miles (5.9 billion
            kilometers) away from the sun, or 39 AU. From 1979 to 1999, Pluto
            was near perihelion, when it is closest to the sun. During this
            time, Pluto was actually closer to the sun than Neptune. One day on
            Pluto takes about 153 hours. Its axis of rotation is tilted 57
            degrees with respect to the plane of its orbit around the sun, so it
            spins almost on its side. Pluto also exhibits a retrograde rotation,
            spinning from east to west like Venus and Uranus.
          </p>
          <div class="planet-content-image-wrap">
           
          </div>
        </section>
        <section>
          <h2>Structure</h2>
          <p>
            Pluto is about two-thirds the diameter of Earth's moon and probably
            has a rocky core surrounded by a mantle of water ice. Interesting
            ices like methane and nitrogen frost coat its surface. Due to its
            lower density, Pluto's mass is about one-sixth that of Earth's moon.
          </p>
          <div class="planet-content-image-wrap">
            <img
            class="desktop-pics"
              src="/public/images/planet-pages/pluto/pluto-internals.png"
              alt="pluto's internals"
            />
            <img
              class="mobile-pics"
              src="/public/images/planet-pages/pluto/pluto-internals-mobile.png"
              alt="pluto's internals small"
            />
          </div>
        </section>
        <section>
          <h2>Formation</h2>
          <p>
            Dwarf planet Pluto is a member of a group of objects that orbit in a
            disc-like zone beyond the orbit of Neptune called the Kuiper Belt.
            This distant realm is populated with thousands of miniature icy
            worlds, which formed early in the history of our solar system about
            4.5 billion years ago. These icy, rocky bodies are called Kuiper
            Belt objects, transneptunian objects, or plutoids.
          </p>
        </section>

        <section>
          <h2>Surface</h2>
          <p>
            Pluto's surface is characterized by mountains, valleys, plains, and
            craters. The temperature on Pluto can be as cold as -375 to -400
            degrees Fahrenheit (-226 to -240 degrees Celsius). Pluto's mountains
            can be as tall as 6,500 to 9,800 feet (2 to 3 kilometers) and are
            big blocks of water ice, sometimes with a coating of frozen gases
            like methane. And long troughs and valleys as long as 370 miles (600
            kilometers) add to the interesting features of this faraway dwarf
            planet. Craters as large as 162 miles (260 kilometers) in diameter
            dot some of the landscape on Pluto, with some showing signs of
            erosion and filling. This suggests tectonic forces are slowly
            resurfacing Pluto. The most prominent plains observed on Pluto
            appear to be made of frozen nitrogen gas and show no craters. These
            plains do show structures suggesting convection (blobs of material
            circulating up and down).
          </p>
        </section>
        <section>
          <h2>Atmosphere</h2>
          <p>
            Pluto has a thin, tenuous atmosphere that expands when it comes
            closer to the sun and collapses as it moves farther away similar to
            a comet. The main constituent is molecular nitrogen, though
            molecules of methane and carbon monoxide have also been detected.
            When Pluto is close to the sun, its surface ices sublimate (changing
            directly from solid to gas) and rise to temporarily form a thin
            atmosphere. Pluto's low gravity (about six percent of Earth's)
            causes the atmosphere to be much more extended in altitude than our
            planet's atmosphere. Pluto becomes much colder during the part of
            each year when it is traveling far away from the sun. During this
            time, the bulk of the planet's atmosphere may freeze and fall as
            snow to the surface.
          </p>
        </section>
        <section>
          <h2>Magnetosphere</h2>
          <p>
            It is not known whether Pluto has a magnetic field, but its small
            size and slow rotation suggest little or none.
          </p>
        </section>
        <section>
          <h2>Moons</h2>
          <p>
            Pluto has five known moons: Charon, Nix, Hydra, Kerberos and Styx.
            This moon system might have formed by a collision between Pluto and
            another similar-sized body early in the history of the solar system.
            Charon, the biggest of Pluto's moons, is about half the size of
            Pluto itself, making it the largest satellite relative to the planet
            it orbits in our solar system. It orbits Pluto at a distance of just
            12,200 miles (19,640 kilometers). For comparison, our moon is 20
            times farther away from Earth. Pluto and Charon are often referred
            to as a double planet. Charon's orbit around Pluto takes 153
            hours—the same time it takes Pluto to complete one rotation. This
            means Charon neither rises nor sets, but hovers over the same spot
            on Pluto's surface. The same side of Charon always faces Pluto, a
            state called tidal locking. Pluto's other four moons are much
            smaller, less than 100 miles (160 kilometers) wide. They are also
            irregularly shaped, not spherical like Charon. Unlike many other
            moons in the solar system, these moons are not tidally locked to
            Pluto. They all spin and do not keep the same face towards Pluto.
          </p>
          <div class="planet-content-image-wrap">
            <img
              class="desktop-pics"
              src="/public/images/planet-pages/pluto/pluto-moons.png"
              alt="pluto's moons"
            />
            <img
              class="mobile-pics"
              src="/public/images/planet-pages/pluto/pluto-moons-mobile.png"
              alt="pluto's moons small"
            />
          </div>
        </section>
        <section>
          <h2>Potential for Life</h2>
          <p>
            The surface of Pluto is extremely cold, so it seems unlikely that
            life could exist there. At such cold temperatures, water, which is
            vital for life as we know it, is essentially rock-like. Pluto's
            interior is warmer, however, and some think there could even be an
            ocean deep inside.
          </p>
        </section>
      </article>
      <div role="complementary">
        <section class="facts">
          <h2>
            {{#if name}} {{name}}'s Pluto Facts {{else}} Pluto Facts {{/if}}
          </h2>
          <img
            src="/public/images/main/main-pluto-1.png"
            
            alt="transparent pluto image"
          />
          <p>
            Pluto was reclassified from a planet to a dwarf planet in 2006.
          </p>
          <p>
            Pluto was discovered on February 18th, 1930 by the Lowell
            Observatory.
          </p>
          <p>Pluto has five known moons.</p>
          <p>Pluto is the largest dwarf planet.</p>
          <p>Pluto is one third water.</p>
          <p>Pluto is smaller than a number of moons.</p>
        </section>
      </div>
    </main>
    {{> footer}}
    
  </body>
</html>
